<div class="container">
 <div class="text-center text-white" id="inner_container">
 <h1>Alpha Blog</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ad!</p>
 <hr>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, facilis?</p>
 <br>
 <a  type="button" class="btn btn-success" href="#">Sign Up!</a>
  </div>
</div>
<footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <div class="text-light text-center">SparshGupta@copyright</div>
      </div>
</footer>