.navbar{
    background-color: black !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.nav-link{
    color: white !important;
}
#inner_container{
    background-image: url('homepage_image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 80px;
}
body{
    background-color: lightgray;
}
#home_btn{
    text-decoration: none;
}